{% extends '../index.html' %} {% block content %} {% load static %}

<div class="container-fluid my-4">
  <div class="row">
    <!-- Bagian Kiri (9) -->
    <div class="col-lg-9">
      <div class="d-flex justify-content-center mb-5">
        <img
          src="{% static 'img/banner.jpg' %}"
          alt="Header Image"
          class="img-fluid"
        />
      </div>
      <h2>
        Arsenal Dipecundangi 10 Pemain Manchester United Via Adu Penalti Di
        Piala FA
      </h2>
      <small>Oleh <span class="text-primary">Author</span></small>
      <hr />
      <!-- Isi berita -->
      <section>
        <h5>KEMALANGAN BERUNTUN BAGI ARSENAL</h5>
        <p>
          Babak pertama berjalan cukup jinak, tanpa ada ancaman berarti di kedua
          sisi lapangan. Gabriel Martinelli sempat mengira dirinya membawa
          Arsenal unggul pada menit 19, tetapi golnya dianulir lantaran terjadi
          offside pada prosesnya. Lalu pada menit 40, Arsenal harus kehilangan
          Gabriel Jesus lantaran cedera. Bintang Brasil itu digantikan Raheem
          Sterling. <br /><br />Kesialan The Gunners semakin menjadi-jadi ketika
          Manchester United unggul duluan di Emirates pada menit 52. Alejandro
          Garnacho terbebas di sisi kiri pertahanan The Gunners buntut blunder
          Gabriel. Winger Argentina itu lalu berlari tanpa kawalan menuju kotak
          penalti tuan rumah, sebelum mengesampingkan egonya dengan mengoper
          bola yang lantas diselesaikan satu sentuhan oleh Bruno Fernandes. Tak
          lama kemudian Kai Havertz melewatkan satu peluang emas untuk
          menyamakan kedudukan.
        </p>
        <h5>GILIRAN MANCHESTER UNITED YANG KENA SIAL</h5>
        <p>
          Angin segar lantas bertiup untuk Arsenal setelah Diogo Dalot mendapat
          kartu kuning kedua pada menit 61. Dua menit setelah unggul jumlah
          pemain, anak asuh Mikel Arteta berhasil menetralkan skor. Gabriel
          menebus blundernya dengan sebuah sepakan voli impresif setelah Altay
          Bayindir dan Kobbie Mainoo gagal membuang crossing Martinelli dengan
          sempurna.
          <br /><br />Giliran Man United yang tertimpa kemalangan beruntun.
          Harry Maguire didakwa menjatuhkan Havertz di kotak penalti meski
          striker Jerman itu terlihat melakukan diving pada tayangan ulang.
          Tanpa adanya VAR, wasit menunjuk titik putih sebagai hukumannya. Tapi
          Bayindir, yang kebobolan langsung dari sepak pojok ketika terakhir
          kali bertamu ke London Utara melawan Tottenham, menjadi pahlawan
          dengan menepis eksekusi penalti Martin Odegaard pada menit ke-70.
          Penyelamatan krusial yang sekaligus menghentikan momentum tuan rumah.
          <br /><br />Havertz dan Declan Rice mendapat peluang emas untuk
          membalikkan keadaan pada penghujung waktu normal, tetapi nama pertama
          masih mandul dengan finishing-nya, sementara tandukan nama kedua bisa
          diselamatkan dengan impresif oleh Bayindir.
        </p>
        <h5>ARSENAL TUMBANG DI ADU PENALTI</h5>
        <p>
          Kedua tim masih tak terpisahkan bahkan setelah melalui babak tambahan.
          Matthijs de Ligt melakukan satu sapuan krusial di menit 102, sebelum
          David Raya dipaksa jatuh bangun menyelamatkan sepakan Joshua Zirkzee
          di menit 107.
          <br><br>Laga pun dilanjutkan ke adu penalti, yang semakin
          membuktikan bahwa ini bukan malamnya Havertz. Mantan pemain Chelsea
          itu menjadi satu-satunya eksekutor yang gagal melaksanakan tugasnya,
          sebelum Zirkzee mengunci kemenangan Manchester United di Emirates
          sebagai penendang kelima.
        </p>
      </section>

      <!-- Kotak Video YouTube -->
      <div class="card my-5 shadow-lg border-0">
        <div class="card-body text-center">
          <h4 class="card-title">Tonton Video Terkait</h4>
          <p class="card-text">Pelajari lebih lanjut tentang Teknik Informatika melalui video berikut!</p>
          <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Me3qhwm3-9Q?si=PI3rjfrSvPzuBXlP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>        </div>
      </div>
      </div>
      <div class="d-flex justify-content-center">
        <a href="{% url 'home' %}" class="btn btn-secondary"
          >Kembali Ke Beranda</a
        >
      </div>

    </div>


    
    <!-- Bagian Kanan (3) -->
    <div class="col-lg-3">
      <h4>Berita Lainnya</h4>
      <div class="card mb-3">
        <img
          src="https://cdn1-production-images-kly.akamaized.net/yja5KB8YRPNclcWcCLgV77_dWpk=/640x360/smart/filters:quality(75):strip_icc():format(webp)/kly-media-production/medias/4222369/original/025612300_1668119763-AP22314780803825.jpg"
          class="card-img-top"
          alt="Gambar Berita"/>
        <div class="card-body">
          <h5 class="card-title">
            Digoda Tawaran Mewah, Manchester United Mulai Goyang dan Pertimbangkan Jual Aset Berharga
          </h5>
          <a
            target="_blank"
            href="https://www.liputan6.com/bola/read/5882267/digoda-tawaran-mewah-manchester-united-mulai-goyang-dan-pertimbangkan-jual-aset-berharga"
            class="btn btn-primary"
            >Baca Selengkapnya</a
          >
        </div>
      </div>
      <div class="card mb-3">
        <img
          src="https://akcdn.detik.net.id/community/media/visual/2024/10/21/jay-idzes.jpeg?w=700&q=90"
          class="card-img-top"
          alt="Gambar Berita"
        />
        <div class="card-body">
          <h5 class="card-title">
            Nilai Pasar Jay Idzes Naik Terus nih

          </h5>
          <a
            target="_blank"
            href="https://sport.detik.com/sepakbola/liga-indonesia/d-7733393/nilai-pasar-jay-idzes-naik-terus-nih"
            class="btn btn-primary"
            >Baca Selengkapnya</a
          >
        </div>
      </div>
      <div class="card mb-3">
        <img
          src="https://asset.kompas.com/crops/rw06APd0vWApIhbY1g-myIeRIIs=/0x0:967x645/1200x800/data/photo/2025/01/06/677b8a3037aa4.jpg"
          class="card-img-top"
          alt="Gambar Berita"
        />
        <div class="card-body">
          <h5 class="card-title">
            Dari Shin Tae-yong ke Patrick Kluivert, antara Kejutan dan Harapan
          </h5>
          <a
            target="_blank"
            href="https://regional.kompas.com/read/2025/01/09/150724878/dari-shin-tae-yong-ke-patrick-kluivert-antara-kejutan-dan-harapan"
            class="btn btn-primary"
            >Baca Selengkapnya</a
          >
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
