{% extends '../index.html' %}
{% block content %} 
{% load static %}

<div class="container-fluid my-4">
  <div class="d-flex justify-content-center mb-5">
    <img src="https://placehold.co/1300x400" alt="">
  </div>
  <h2>Judul Berita</h2>
  <small>Oleh <span class="text-primary">Author</span></small>
  <hr />
  <!-- Isi berita dibawah sini-->
  <section>
    <!-- Paragraph 1-->
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      ratione sed accusantium. Officiis quas et, odio nihil accusamus sed
      inventore ullam, ut dolore iste consectetur, enim ea iure vitae recusandae.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      ratione sed accusantium. Officiis quas et, odio nihil accusamus sed
      inventore ullam, ut dolore iste consectetur, enim ea iure vitae recusandae.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      ratione sed accusantium. Officiis quas et, odio nihil accusamus sed
      inventore ullam, ut dolore iste consectetur, enim ea iure vitae recusandae.
    </p>
    <!-- Paragraph 2-->
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus quam
      mollitia cupiditate expedita vel obcaecati perferendis excepturi tempora
      laboriosam minus dicta distinctio, illo maxime nesciunt quis in ratione.
      Placeat, enim?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus quam
      mollitia cupiditate expedita vel obcaecati perferendis excepturi tempora
      laboriosam minus dicta distinctio, illo maxime nesciunt quis in ratione.
      Placeat, enim?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus quam
      mollitia cupiditate expedita vel obcaecati perferendis excepturi tempora
      laboriosam minus dicta distinctio, illo maxime nesciunt quis in ratione.
      Placeat, enim?
    </p>
    <!-- dst... -->
  </section>
  <div class="d-flex justify-content-center">
    <a href="{% url 'home' %}" class="btn btn-secondary">Kembali Ke Beranda</a>
  </div>
</div>
{% endblock %}
