{% extends '../index.html' %}
{% block content %} 
{% load static %}

<div class="container-fluid my-4">
  <div class="row">
    <!-- Bagian Kiri (9) -->
    <div class="col-lg-9">
      <div class="d-flex justify-content-center mb-5">
        <img src="https://placehold.co/1300x400" alt="Header Image" class="img-fluid">
      </div>
      <h2>Judul Berita</h2>
      <small>Oleh <span class="text-primary">Author</span></small>
      <hr />
      <!-- Isi berita -->
      <section>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
          ratione sed accusantium. Officiis quas et, odio nihil accusamus sed
          inventore ullam, ut dolore iste consectetur, enim ea iure vitae recusandae.
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus quam
          mollitia cupiditate expedita vel obcaecati perferendis excepturi tempora
          laboriosam minus dicta distinctio, illo maxime nesciunt quis in ratione.
          Placeat, enim?
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus quam
          mollitia cupiditate expedita vel obcaecati perferendis excepturi tempora
          laboriosam minus dicta distinctio, illo maxime nesciunt quis in ratione.
          Placeat, enim?
        </p>
        
      </section>
      <div class="d-flex justify-content-center">
        <a href="{% url 'home' %}" class="btn btn-secondary">Kembali Ke Beranda</a>
      </div>
    </div>

    <!-- Bagian Kanan (3) -->
    <div class="col-lg-3">
      <h4>Berita Lainnya</h4>
      <div class="card mb-3">
        <img src="https://akcdn.detik.net.id/community/media/visual/2025/01/09/saifudin-wisatawan-yang-kehilangan-istri-dan-anaknya-dalam-tragedi-laka-maut-kota-batu-1_169.jpeg?w=700&q=90" class="card-img-top" alt="Gambar Berita">
        <div class="card-body">
          <h5 class="card-title">Tangis Histeris Saifudin Saat Istri-Anak Tewas di Laka Maut Bus Kota Batu</h5>
          <a target="_blank" href="https://www.detik.com/jatim/berita/d-7724191/tangis-histeris-saifudin-saat-istri-anak-tewas-di-laka-maut-bus-kota-batu" class="btn btn-primary">Baca Selengkapnya</a>
        </div>
      </div>
      <div class="card mb-3">
        <img src="https://akcdn.detik.net.id/community/media/visual/2025/01/09/rumah-warga-trenggalek-yang-rusak-gegara-tanah-gerak_169.jpeg?w=700&q=90" class="card-img-top" alt="Gambar Berita">
        <div class="card-body">
          <h5 class="card-title">Bencana Tanah Gerak Muncul di Desa Nglebo Trenggalek, Ancam 7 Rumah</h5>
          <a target="_blank" href="https://www.detik.com/jatim/berita/d-7724672/bencana-tanah-gerak-muncul-di-desa-nglebo-trenggalek-ancam-7-rumah" class="btn btn-primary">Baca Selengkapnya</a>
        </div>
      </div>
      <div class="card mb-3">
        <img src="https://asset.kompas.com/crops/rw06APd0vWApIhbY1g-myIeRIIs=/0x0:967x645/1200x800/data/photo/2025/01/06/677b8a3037aa4.jpg" class="card-img-top" alt="Gambar Berita">
        <div class="card-body">
          <h5 class="card-title">Dari Shin Tae-yong ke Patrick Kluivert, antara Kejutan dan Harapan</h5>
          <a target="_blank" href="https://regional.kompas.com/read/2025/01/09/150724878/dari-shin-tae-yong-ke-patrick-kluivert-antara-kejutan-dan-harapan" class="btn btn-primary">Baca Selengkapnya</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
`