{% extends 'index.html' %}
{% block content %}
{% load static %}
<div class="card text-center">
  <div class="card-header">
    <h4>Tim Developer</h4>
  </div>
  <div class="d-flex justify-content-center mb-5 mt-5">
    <div class="card" style="width: 18rem;">
      <img src="https://placehold.co/20x20" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-5">
    <div class="card" style="width: 18rem;">
      <img src="https://placehold.co/20x20" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card mx-5" style="width: 18rem;">
      <img src="https://placehold.co/20x20" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://placehold.co/20x20" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}