{% extends 'index.html' %}
{% block content %}
{% load static %}
<div class="card text-center mt-5">
  <div class="card-header">
    <h4>Tim Developer</h4>
  </div>
  <!-- Atas -->
  <div class="d-flex justify-content-center mb-5 mt-5">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/about-azmi.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Muammar Azmi Muhammad <br>
          (0110224105)</p>
      </div>
    </div>
  </div>
  <!-- Bawah -->
  <div class="d-flex justify-content-center mb-5">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/about-daffa.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Nurrachman Daffa <br>
        (0110224051)</p>
      </div>
    </div>
    <div class="card mx-5" style="width: 18rem;">
      <img src="{% static 'img/about-rezi.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Fahrezi Noviansyah <br>
        (0110224171)</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/about-coki.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Syauqi Rabbani <br>
        (0110224205)</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}