{% extends 'index.html' %}
{% block content %}
{% load static %}
<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
    <div class="card mb-4" style="max-width: 100%;">
        <div class="row g-3 mb-3 mt-2">
            <div class="col-md-4">
                <img src="{% static '../static/img/Jakarta.jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title Berita</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    <a href="#" class="btn btn-primary">Baca Selengkapnya...</a>
                </div>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-md-4">
                <img src="{% static '../static/img/Jakarta.jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title Berita</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    <a href="#" class="btn btn-primary">Baca Selengkapnya...</a>
                </div>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-md-4">
                <img src="{% static '../static/img/Jakarta.jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title Berita</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    <a href="#" class="btn btn-primary">Baca Selengkapnya...</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}